.input_field {
  /* box-shadow: 2px 2px 2px 2px gray; */
  margin: 10px 0px 10px 0px;

}

.input_container {
  margin: 30px;
  padding: 30px;
}

.vendorText {
  color: rgba(4, 134, 117, 0.815);
}

.hr {
  height: 2px;
  background-color: rgb(70, 65, 65);
  margin-bottom: 20px;
  margin-top: -15px;
}

.GENERATE_NUMBER_Div {
  display: flex;
  align-items: center;
  justify-content: end;
}

.GENERATE_NUMBER_button {
  margin-left: 5px;

}

.OPENING_BALANCE_BUTTON {
  color: black;
  margin-bottom: 5px;
  background-color: rgba(184, 236, 229, 0.815);
}

.REGISTER_VENDOR_BUTTON {
  background-color: rgba(4, 134, 117, 0.815);
}

.item_first_row {
  background-color: rgb(245, 240, 240);
  border-radius: 5px;
  padding: 5px 3px 10px 3px;
}

.first_row_under_item {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.second_row_under_item {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2px;
}

.date_input {
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.date_input input {
  border: none;
}

.ADD_button {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}

.table {
  background-color: rgb(245, 240, 240);
  border-top: 2px solid black;
  border-left:  2px solid black;
  border-right:  2px solid black;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 5px;
  font-weight: bold;
}
.discount{
  display: grid;
  margin-bottom: 10px;

  grid-template-columns: repeat(2,1fr);
}
.VAT_TAX{
  display: flex;
  align-items: center;

}
.Gross{
  font-weight: 400;
}
.Previous_Due{
  font-weight: bold;
  color: rgb(236, 107, 107);
}
.Adjustable_Due{
  font-weight: bold;
  color: rgb(90, 214, 90);
}
.formSubmit{
  color: #fafafa;
 
  background-color: rgba(4, 134, 117, 0.815);
  border: none;
  padding: 5px 10px 5px 10px;
  margin: 10px;
  border-radius: 5px;
}
.formSubmitDiv{
  display: flex;
  justify-content: end;
}
.qtyInputFiled{
  border: none;
  border-radius: 5px;
  width: 80%;
  text-align: center;
}
.qtyBar{
  display: flex;
  margin: 0px 40% 0px -40%
}
.positiveButton{
  border: none;
  font-size: large;
  margin: 0px 3px 0px 3px;
}

.Submit{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.formPRINT{
  background-color: rgb(223, 178, 64);
  border: none;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  color: white;
  font-weight: bold;

}


.catagoryContainer{
  margin-top: 100px;
  position: relative;
}
.catagoryfield{
  width: 40%;
  margin: auto;
  background-color: whitesmoke;
  border-radius: 5px;
  
}
.catagoryHeader{
  padding: 10px 7px 15px 10px;
  background-color: rgb(55, 172, 137);
  color: white;
  border-radius: 5px;
  margin-bottom: 10px;
}
.catagoryButtonDiv{
  display: flex;
  justify-content: end;
  
}
.catagoryButton{
  background-color: rgb(55, 172, 137);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 10px;
  margin-right: 22px;

}
.catagoryTable{
  padding: 15px;
  

}
.catagoryTableHeader{

  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin: 10px 10px 0px 10px;
  font-size: larger;
  font-weight: bold;
  border-radius: 3px;
}
.catagoryTableHeaderName{
  padding-left: 10px;
  border-right: 1px solid black;
  width: 70%;
  
}
.catagoryTableHeaderAction{
  padding-left: 10px;
  width: 35%;
  
}
.catagoryTableRow{
  display: flex;
  justify-content: space-between;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin: 0px 10px 0px 10px;
  font-size: larger;
  font-weight: bold;
  border-radius: 3px;

}
.catagoryDelete{
  margin-top: 9px;
  padding: 10px;
  background-color: rgb(216, 81, 81);
  border: none;
  border-radius: 3px;
  color: white;
 
}
.popUpField{
  position: absolute;
  margin-left: 100px;
  margin-top: 50px;
  display: block;
  background-color: whitesmoke;
  width: fit-content;

  padding: 10px;
  box-shadow: 2px 2px 5px 2px gray;

}
.popUpSubmit{
  margin:3px 5px 5px 0px ;
  background-color: rgb(55, 172, 137);
  border: none;
  padding: 6px;
  border-radius: 3px;
  color: white;
  font-weight: 600;
}
.popUpCancle{
  margin:3px 5px 5px 0px ;
  border: none;
  padding: 6px;
  border-radius: 3px;
  color: rgb(55, 172, 137);
  font-weight: 600;
}

























.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {

  .card,
  .footer {
    border-color: #222;
  }

  .code {
    background: #111;
  }

  .logo img {
    filter: invert(1);
  }
}