.container{
  margin: 50px;
}

.field{
  display: flex;
  justify-content: end;
  margin: 10px;
}
.text{
  margin-right: 5px;
}
.secinput{
  margin-top: 10px;
  margin-bottom: 10px;
}
.grossinput{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.parsent{
  display: flex;
}
.parsent p{
  margin-right: 5px;
}
.adjestment{
  color: green;
}
.previous{
  color: red;
}
.receive{
  margin-top: 10px;
  display: flex;
  justify-content: end;
  
 
}
.selector{
  display: flex;
  justify-content: space-between;
  
 
}
.s{
  background-color: gainsboro;
  padding-bottom: 10px;
}
.y{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  height: 30px;
}
.addbtn{
  display: flex;
  justify-content: end;
  padding-bottom: 10px;
}
